/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
header {
    padding: 36px 0;
    background-color: #E6E6E6;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu {
    display: flex;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
.tem_rim{
    color: #4E4E4E;
}
.header_link {
    padding-left: 30px;
    color: #4E4E4E;
}
a:hover {
    color:#1ABB9C;
}
.comand_section{
    text-align: center;
    background-image: url(img/hero.png);
    background-size: cover;
    padding: 220px;
}
h1{
    font-size: 40px;
    color: #FFFFFF;
}
h2{
    font-size: 35px;
    color: #A8A8A8;
}
button{
    color: white;
    background: #3F8DBF;
    border-radius: 3px;
    padding: 10px;
    box-shadow: none;
}
.adres{
    display: flex;
}
.adres_p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 49px;
    
}
.adres_h1 {
    color: #4E4E4E;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 17px;
}
.adres_it{
    width: 257px;
    text-align: center;
    padding: 72px 0 0px 0;

}
.adres_img {
    padding-bottom: 30px;
}
.adres_h{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
}
.work_title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    color: #4E4E4E;
    padding-bottom: 22PX;
    padding-top: 50px;
    text-align: center;
    }
.adres_work {
    background: #F7F7F7;
    padding-bottom: 63px;
}
.adres_p {
    font-family: 'Roboto Slab';
    font-size: 18px;
    line-height: 24px;
    margin-top: 25.71px;
    padding-bottom: 5px;
    color: #4E4E4E;
}
.adres_p1 {
    color: #ADADAD;
    padding-bottom: 13px;
    font-family: 'Roboto Slab', serif;
}
.adres_p2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #5C5C5C;
}
.adres_work {
    width: 353.4px;
}
.adres-conten{
    display: flex;
    justify-content: space-between;
} */